@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 5.6rem;
  border: 1px solid $border-color-2;
  border-radius: 2.4rem;
  padding: 2.6rem 2rem 2.6rem 0;
  @include medium-screen-max {
    border-radius: 1.2rem;
    height: 4.8rem;
    padding: 1.2rem;
  }
}
.iconContainer {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  @include medium-screen-max {
    margin-left: 0.4rem;
    width: 2.5rem;
    height: 2rem;
  }
}
.inputContainer {
  padding-left: 1rem;
  width: 100%;
  font-weight: 300;
  color: $text-color-2;
  letter-spacing: 0.1rem;
  @include medium-screen-max {
    padding-left: 0.6rem;
  }
}
.error {
  border: 1px solid $secondary-color;
  input,
  input::placeholder {
    color: $secondary-color;
  }
}
.placeholder{
  position: absolute;
  left: 4.6rem;
  color: $text-color-1;
  letter-spacing: 0.1rem;
  font-weight: 300;
  transition:all .2s ease-in-out;
  top: 50%;
  transform: translateY(-50%);
}
.focused{
  top: 0rem;
  transition:all .2s ease-in-out;
  font-size:1.2rem;
  background-color: $color-white;
  padding: 0 0.4rem;
}