@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  display: flex;
  position: relative;
  width: 100%;
  border: 1px solid $border-color-2;
  border-radius: 2.4rem;
  @include medium-screen-max {
    border-radius: 1.2rem;
  }
}
.error {
  border-color: $secondary-color;
  textarea::placeholder {
    color: $secondary-color;
  }
}
.textareaContainer {
  padding: 2.6rem 2rem 2.6rem 2.6rem;
  width: 100%;
  outline: 0;
  font-weight: 300;
  color: $text-color-2;
  letter-spacing: 0.1rem;
  @include medium-screen-max {
    border-radius: 1.2rem;
    padding: 1.2rem;
  }
}
.hasIcon {
  padding: 2.6rem 2rem 2.6rem 3.8rem;
}
.iconContainer {
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 3.5rem;
  left: 2rem;
  transform: translateY(-50%);
  z-index: 1;
}
.placeholder{
  position: absolute;
  left: 3.6rem;
  color: $text-color-1;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  font-weight: 300;
  transition:all .2s ease-in-out;
  top: 3.4rem;
  transform: translateY(-50%);
}
.focused{
  top: 0rem;
  transition:all .2s ease-in-out;
  font-size:1.2rem;
  background-color: $color-white;
  padding: 0 0.4rem;
}
