$secondary-color: #d62631;
$orangered-color: #f9a851;
$green-color: #5fa777;
$light-danger: #fcf4f4;
$blue-color: #0647d4;

$bg-color-1: #003580;
$bg-color-2: #000000;
$bg-color-3: #d1d1d2;
$bg-color-4: #f7f7f7;
$bg-color-5: rgba(255, 255, 255, 0.6);
$bg-color-6: rgba(255, 255, 255, 0.75);
$bg-color-7: rgba(255, 255, 255, 0.2);
$bg-color-8: #f2f2f2;

$color-white: #fff;

$text-color-1: hsla(240, 2%, 28%, 0.8);
$text-color-2: #18181c;
$text-color-3: rgba(24, 24, 28, 0.8);
$text-color-4: #7f7f7f;

$border-color: rgba(24, 24, 28, 0.4);
$border-color-2: rgba(24, 24, 28, 0.2);
$border-color-3: rgba(24, 24, 28, 0.078);

$shadow-color: rgba(24, 24, 28, 0.03);

$breakpoint-sm: 767px;
$breakpoint-lg: 1023px;
$breakpoint-xl: 1199px;
$breakpoint-2xl: 1439px;
