@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  width: 18.4rem;
  @include medium-screen-max {
    width: 7.6rem;
    top: -1.3rem;
  }
}
.innerContainer {
  position: relative;
  span {
    display: flex;
  }
}
.logoRectangle {
  position: absolute;
  z-index: 2;
}
.imgContainer {
  display: flex;
  justify-content: center;
  padding-top: 4.2rem;
  width: 18.4rem;
  height: 15.7rem;
  position: relative;
  z-index: 2;
  @include medium-screen-max {
    width: 7.6rem;
    height: 8.4rem;
    padding-top: 1.8rem;
  }
}
