@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin: 2rem 0;
  padding-bottom: 5rem;
  @include medium-screen-max{
    padding-bottom: 2rem;
  }
}
.item {
  height: 4.6rem !important;
  width: 4.6rem !important;
  border-radius: 50% !important;
  padding: 0 !important;

  &:disabled {
    cursor: not-allowed !important;
  }
  background-color: $bg-color-4 !important;
  span {
    font-size: 1.4rem !important;
  }
}
.active {
  background-color: $color-white !important;
  border: 1px solid $secondary-color;
  span {
    color: $secondary-color !important;
  }
}
.rotate180 {
  transform: rotate(-180deg);
}
